    <footer id="p-footer" class="page-footer container-fluid d-flex flex-row justify-content-center align-items-center pt-4">
        <div class="ft-container container row justify-content-center no-gutters">
            <!-- Grid column -->
            <div class="ft-item col-md-4 mb-4">
                <h5>Main contact</h5>
                <div class="if-content">
                    <p>District 1, Ho Chi Minh city, VN</p>
                    <p>info@seadiamond.com</p>
                    <p>+84 1535 43526</p>
                </div>

            </div>

            <!-- Grid column -->
            <div class="ft-item col-md-4 mb-4">
                <h5>Site links</h5>
                <div class="if-content">
                    <a href="/about-us">About us</a>
                    <a href="list-room">Our rooms</a>
                </div>
            </div>

            <!-- Grid column -->
            <div class="ft-item col-md-4 mb-4">
                <h5>Social</h5>
                <div class="if-content d-flex flex-column justify-content-center">
                    <div class="icons d-flex flex-row justify-content-center">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="ml-4 mr-4 fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


