
    <!-- wrap all content in the page consist of header main content, footer-->
    <div class="container mb-4">
        <!-- content goes here -->
        <!-- this part consists of logo, hotel's name login button, register button, navigation bar -->
        <header class="row flex-nowrap no-gutters justify-content-between align-items-center" id="header">
            <div class="logo col-sm-3">
                <a href="/"><img class="img-fluid" src="../images/logos/logo_v1.png" alt="logo"></a>
            </div>

            <div class="hotel-name col-sm-6 text-center">
                Sea Diamond hotel
            </div>

            <div id='login-btn' class="login text-right col-sm-3">
                <a class="log-btn" href="#login-form">Sign In</a>
            </div>
        </header>

        <!-- navigation bar -->
        <div class="nav-bar" id="content">
            <ul class="nav justify-content-center no-gutters pt-2 pb-2">
                <li class="nav-item col-md-2 i-begin">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item col-md-2 i-normal">
                    <a class="nav-link" id="list-room" href="/list-room">Our rooms</a>
                </li>
                <li class="nav-item col-md-2 i-normal">
                    <a class="nav-link" id="contact" href="/contact">Contact</a>
                </li>
                <li class="nav-item col-md-2 i-normal">
                    <a class="nav-link" id="about-us" href="/about-us">About us</a>
                </li>
            </ul>
        </div>
    </div>
