     <!-- login form -->
     <div id="login-form" class="l-overlay container-fluid no-gutters p-5">
        <a href="#" id="hidden-div">
        </a>
        <div id="l-form" class="login-form p-3 no-gutters">
            <div class="login-form-header row justify-content-center align-items-center">
                <h1>Welcome</h1>
            </div>
            <form id="log" class="d-flex flex-column justify-content-center align-items-center pt-3" action="">
                <input id="log-username" type="text" placeholder="Username" class="mt-2">
                <input id="log-password" type="password" placeholder="Password" class="mt-2">
                <label id="label-notify" style="font-size: 10px; color: red; display: none; margin: 0;">
                  Username or Password incorrect  
                </label>
                <div class="register-form row justify-content-end mt-2">
                    <span>Don't have an account? <a href="#register-form">Create</a></span>
                </div>

                <div class="form-btn d-flex flex-column justify-content-center align-items-center mt-2">
                    <input type="submit" value="Sign In">
                    <a id='log-cancel' class="mt-1" href="#">Cancel</a>
                </div>
            </form>
        </div>
    </div>
