<link rel="stylesheet" type="text/css" href="css/About-us.css">
<!-- content goes here -->
<div class="main-content container">
    <div class="cover-image row justify-content-center align-items-center mb-5 no-gutters">
        <p>ABOUT US</p>
    </div>
    <div class="image-info container no-gutters">
        <div class="float-container row justify-content-around no-gutters">
            <div class="item col-md-3 d-flex flex-column align-items-center mb-3">
                <div class="item-image item-dangtantai mb-2"></div>
                <div class="item-name row justify-content-center align-items-center mb-2">
                    Dang Tan Tai
                </div>
                <div class="item-info text-center">
                    <p>As a person who likes honesty, hates lies, always knows how to see things and handle situations
                        properly. The quote of life: "life is a sign inferred".
                    </p>

                </div>
            </div>
            <div class="item col-md-3 d-flex flex-column align-items-center mb-3">
                <div class="item-image item-hoangduccong mb-2"></div>
                <div class="item-name row justify-content-center align-items-center mb-2">
                    Hoang Duc Cong
                </div>
                <div class="item-info text-center">
                    <p>A bad day at the beach is better than a good day at work. Our job is to serve all of the best
                        service, and the most comfortable for you to have the best experience</p>
                </div>
            </div>
            <div class="item col-md-3 d-flex flex-column align-items-center mb-3">
                <div class="item-image item-truongkhactrieu mb-2"></div>
                <div class="item-name row justify-content-center align-items-center mb-2">
                    Truong Khac Trieu
                </div>
                <div class="item-info text-center">
                    <p>The person who want to bring you comfortable, healthy services after your hard-working days. The
                        more gratification you get, the more pleasure am I.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>