<link rel="stylesheet" type="text/css" href="css/ListRooms-page.css">
<!-- wrap all content in the page consist of header main content, footer-->
<div class="main-content container mb-4">
    <!-- content goes here -->
    <div class="main-content">
        <div id="table-month" class="row">
            <div class="col-3">Jan</div>
            <div class="col-3">Feb</div>
            <div class="col-3">Mar</div>
            <div class="col-3">Apr</div>
            <div class="col-3">May</div>
            <div class="col-3">Jun</div>
            <div class="col-3">Jul</div>
            <div class="col-3">Aug</div>
            <div class="col-3">Sep</div>
            <div class="col-3">Oct</div>
            <div class="col-3">Nov</div>
            <div class="col-3">Dec</div>
        </div>
        <div class="cover-image text-center">
            ROOMS
        </div>
        <div class="booking-content row row-mg">
            <div class="booking-frame col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="booking-item check-in">
                    <div id="check-in-text">CHECK-IN</div>
                    <div class="number" id="date-in"></div>
                    <div class="month" id="month-in"></div>
                    <i class="fas fa-caret-down button" onclick="downNumber(this)"></i>
                </div>
                <div class="booking-item check-out">
                    <div id="check-out-text">CHECK-OUT</div>
                    <div class="number" id="date-out"></div>
                    <div class="month" id="month-out"></div>
                    <i class="fas fa-caret-down button" onclick="downNumber(this)"></i>
                </div>
                <div class="booking-item guests">
                    <div id="guests-text">GUESTS</div>
                    <div class="number" id="count-guests">1</div>
                    <i class="fas fa-caret-up button" onclick="upNumber(this)"></i>
                    <i class="fas fa-caret-down button" onclick="downNumber(this)"></i>
                </div>
                <div class="booking-item nights">
                    <div id="nights-text">NIGHTS</div>
                    <div class="number" id="count-nights">1</div>
                    <i class="fas fa-caret-up button" onclick="upNumber(this)"></i>
                    <i class="fas fa-caret-down button" onclick="downNumber(this)"></i>
                </div>
            </div>
            <div class="list-rooms row row-mg col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
              <select style="display: none;">
                <option value="1">Default sorting</option>
                <option value="1">Default sorting</option>
                <option value="1">Default sorting</option>
              </select><div class="nice-select" tabindex="0"><span class="current">Default sorting</span><ul class="list"><li data-value="1" class="option selected">Default sorting</li><li data-value="1" class="option">Default sorting</li><li data-value="1" class="option">Default sorting</li></ul></div>
            </div>
            <div class="sorting mr-auto">
              <select style="display: none;">
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
              </select><div class="nice-select" tabindex="0"><span class="current">Show 12</span><ul class="list"><li data-value="1" class="option selected">Show 12</li><li data-value="1" class="option">Show 12</li><li data-value="1" class="option">Show 12</li></ul></div>
            </div>
            <div>
              <div class="input-group filter-bar-search">
                <input type="text" placeholder="Search">
                <div class="input-group-append">
                  <button type="button"><i class="ti-search"></i></button>
                </div>
              </div>
            </div>
          </div>
                {{#each rooms}}
                    <div class="room room8 col-5">
                        <img class="room-image" src="{{imagepath}}">
                        <div class="info-room">
                            <span id ="{{id}}"class="btn-detail button" onclick="toRoomDetail()">Thông tin chi tiết</span>
                            <img class="icon-account" src="images/listrooms-images/account.png">
                            <span class="count-person">{{count}}</span>
                        </div>
                    </div>
                {{/each}}
            </div>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>

</div>
<script src="js/ListRooms-page.js"></script>