  <link rel="stylesheet" type="text/css" href="css/user.css" />

  <div class="container mb-4">
    <!-- <div class="main-content d-flex flex-column align-items-center no-gutters"> -->
    <div class="cover-image row justify-content-center align-items-center mb-5 no-gutters">
      <p>USER INFORMATION</p>
    </div>
    <!-- </div>  -->
  </div>

  <div class="container main-contain main-content mb-5">
    <div class="row">
      <div class="left-side col-lg-4">
        <div class="row container">
          <!-- <img class="profile_img mx-auto d-inline-block" src="images/logos/logo_v1.png" alt="Avatar" class="avatar"> -->
          <!-- <button type="button" class="btn btn-primary btn-sm ">Small button</button> -->
          <div class="container avatar-kh align-items-center">
            <img class="profile_img d-inline-block" src="images/logos/logo_v1.png" alt="" />
            <!-- <button class="btn-change">Thay đổi</button> -->
            <button type="button" class="btn btn-light btn-change">
              Change photo
            </button>
            <input type="file" id="myImage" accept="image/*" style="display: none;" />
          </div>
        </div>
        <div class="row infor-tab on-showing">
          <img class="d-inline" id="img-inf" src="images/user-images/inf-icon.png" alt="" />
          <div class="text-tab">Personal information</div>
        </div>
        <div class="row pwd-tab">
          <img class="d-inline" id="img-pwd" src="images/user-images/pwd-icon.png" alt="" />
          <div class="text-tab">Change password</div>
        </div>
        <div class="row history-tab">
          <img class="d-inline" id="img-pwd" src="images/user-images/pwd-icon.png" alt="" />
          <div class="text-tab">Your reservations</div>
        </div>
      </div>

      <div class="right-side col-lg-8">
        <div class="on-infor ml-3">
          <div class="text-center">
            <h6>Personal information</h6>
          </div>
          <div class="form-group p-2">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" />
            <!-- value="Sea Diamond"> -->
            <label style="font-size: 12px; color: red; display: none;">Name is require</label>
          </div>
          <div class="form-group p-1">
            <label for="inputEmail">Email</label>
            <div class="d-flex">
              <input type="email" class="form-control d-inline" id="inputEmail" disabled />
              <!-- value="contact@seadiamond.com" > -->
              <button class="btn-dark btn-act-email" style="font-size: 14px; display: inline;">
                Activate email
              </button>
            </div>
          </div>
          <div class="form-row p-1">
            <div class="form-group col-md-6 p-1">
              <label for="inputPhone">Phone</label>
              <input type="text" class="form-control" id="inputPhone" />
              <!-- value="0965123456"> -->
            </div>
            <div class="form-group col-md-3 p-1 my-custom-select">
              <label for="inputState">Gender</label>
              <select id="inputState" class="form-control my-custom-select">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div style="padding-left: 5px;">Day of birth</div>
          <div class="form-row">
            <div class="form-group col-md-4 p-2 my-custom-select">
              <select id="inputDayDOB" class="form-control my-custom-select">
              </select>
            </div>
            <div class="form-group col-md-4 p-2 my-custom-select">
              <select id="inputMonthDOB" class="form-control my-custom-select">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
            <div class="form-group col-md-4 p-2 my-custom-select">
              <select id="inputYearDOB" class="form-control my-custom-select">
              </select>
            </div>
          </div>

          <div class="text-center">
            <button class="btn-dark btn-update-inf">Update</button>
          </div>
        </div>
        <div class="on-pwd not-show ml-3">
          <div class="text-center">
            <h6>Change password</h6>
          </div>
          <div class="form-group p-2">
            <label for="inputOldPwd">Old password</label>
            <input type="password" class="form-control" id="inputOldPwd" placeholder="Your old password" />
          </div>
          <div class="form-group p-2">
            <label for="inputNewPwd">New password</label>
            <input type="password" class="form-control" id="inputNewPwd" placeholder="New password" />
            <label id="valid-pwd" style="font-size: 12px; color: red; display: none;">At least one number, one lowercase
              and one uppercase letter
              <br />At least six characters that are letters, numbers or the
              underscore</label>
          </div>
          <div class="form-group p-2">
            <label for="inputConfirmNew">Confirm new password</label>
            <input type="password" class="form-control" id="inputConfirmNew" placeholder="Confirm your new password" />
            <label id="not-match" style="font-size: 12px; color: red; display: none;">Your password and confirmation
              password do not match</label>
          </div>
          <div class="text-center">
            <button class="btn-dark btn-change-pwd">Change</button>
          </div>
        </div>
        <div class="on-history not-show ml-3">
          <div class="text-center">
            <h6>Your Reservations</h6>
          </div>
          <ul class="cart_list p-0">
            <li class="cart_item clearfix p-0">
              <div class="container no-gutters">
                <div class="row no-gutters">
                  <div class="row justify-content-center cart_item_image p-0 pt-2 col-lg-3 pb-2">
                    <img   src="images/listrooms-images/room2.jpg" alt="" />
                  </div>
                  <div class="cart_item_name cart_info_col mt-1 col-lg-4 ml-0 p-0">
                    <div class="cart_item_title text-center">LUXURY ROOM</div>
                    <div class="row cart_item_text m-0">  
                      <div class="row p-1 ">
                        <img class="icon-services" src="images/room-services/icon-wifi.png" alt="" />
                        <div >Wifi</div>
                      </div>
                      <div class="row p-1 ">
                        <img class="icon-services" src="images/room-services/icon-balcony.png" alt="" />
                        <div >Balcony</div>
                      </div>
                      <div class="row p-1">
                        <img class="icon-services" src="images/room-services/icon-conditioner.png" alt="" />
                        <div >Conditioner</div>
                      </div> 
                      <div class="row p-1">
                        <img class="icon-services" src="images/room-services/icon-fridge.png" alt="" />
                        <div >Fridge</div>
                      </div>  
                      <div class="row p-1">
                        <img class="icon-services" src="images/room-services/icon-garden.png"" alt="" />
                        <div >Garden view</div>
                      </div>  
                      <div class=" row p-1">
                        <img class="icon-services" src="images/room-services/icon-mountain.png" alt="" />
                        <div >Mountain</div>
                      </div>  
                      <div class=" row p-1">
                        <img class="icon-services" src="images/room-services/icon-tv.png" alt="" />
                        <div >Television</div>
                      </div>  
                      <div class=" row p-1">
                        <img class="icon-services" src="images/room-services/icon-swim.png" alt="" />
                        <div >Swimming pool</div>
                      </div>  
                      
                    </div>
                  </div>
                  <div class="cart_item_quantity cart_info_col text-center col-lg-2 col-6 col-sm-4 mt-1 p-0">
                    <div class="cart_item_title">Check in</div>
                    <div class="cart_item_text m-1">September</div>
                    <div class="cart_item_text m-1"> 6th </div>
                    <div class="cart_item_text  m-1">2020</div>
                  </div>
                  <div class="cart_item_price cart_info_col col-lg-2 col-6 col-sm-4 mt-1 p-0 text-center">
                    <div class="cart_item_title">Check out</div>
                    <div class="cart_item_text  m-1">September</div>
                    <div class="cart_item_text  m-1"> 30th </div>
                    <div class="cart_item_text  m-1">2020</div>
                  </div>
                  <div class="cart_item_total cart_info_col p-0 mt-1 col-sm-4 col-lg-1 text-center">
                    <div class="cart_item_title ">Total</div>
                    <div class="cart_item_text">500$</div>
                  </div>
                </div>
              </div>
            </li>
            <hr>
            <li class="cart_item clearfix p-0">
              <div class="container no-gutters">
                <div class="row no-gutters">
                  <div class="row justify-content-center cart_item_image p-0 pt-2 col-lg-3 pb-2">
                    <img   src="images/listrooms-images/room2.jpg" alt="" />
                  </div>
                  <div class="cart_item_name cart_info_col mt-1 col-lg-4 ml-0 p-0">
                    <div class="cart_item_title text-center">LUXURY ROOM</div>
                    <div class="row cart_item_text m-0">  
                      <div class="row p-1 ">
                        <img class="icon-services" src="images/room-services/icon-wifi.png" alt="" />
                        <div >Wifi</div>
                      </div>
                      <div class="row p-1 ">
                        <img class="icon-services" src="images/room-services/icon-balcony.png" alt="" />
                        <div >Balcony</div>
                      </div>
                      <div class="row p-1">
                        <img class="icon-services" src="images/room-services/icon-conditioner.png" alt="" />
                        <div >Conditioner</div>
                      </div> 
                      <div class="row p-1">
                        <img class="icon-services" src="images/room-services/icon-fridge.png" alt="" />
                        <div >Fridge</div>
                      </div>  
                      <div class="row p-1">
                        <img class="icon-services" src="images/room-services/icon-garden.png"" alt="" />
                        <div >Garden view</div>
                      </div>  
                      <div class=" row p-1">
                        <img class="icon-services" src="images/room-services/icon-mountain.png" alt="" />
                        <div >Mountain</div>
                      </div>  
                      <div class=" row p-1">
                        <img class="icon-services" src="images/room-services/icon-tv.png" alt="" />
                        <div >Television</div>
                      </div>  
                      <div class=" row p-1">
                        <img class="icon-services" src="images/room-services/icon-swim.png" alt="" />
                        <div >Swimming pool</div>
                      </div>  
                      
                    </div>
                  </div>
                  <div class="cart_item_quantity cart_info_col text-center col-lg-2 col-6 col-sm-4 mt-1 p-0">
                    <div class="cart_item_title">Check in</div>
                    <div class="cart_item_text m-1">July</div>
                    <div class="cart_item_text m-1"> 9th </div>
                    <div class="cart_item_text  m-1">2019</div>
                  </div>
                  <div class="cart_item_price cart_info_col col-lg-2 col-6 col-sm-4 mt-1 p-0 text-center">
                    <div class="cart_item_title">Check out</div>
                    <div class="cart_item_text  m-1">July</div>
                    <div class="cart_item_text  m-1"> 10th </div>
                    <div class="cart_item_text  m-1">2019</div>
                  </div>
                  <div class="cart_item_total cart_info_col p-0 mt-1 col-sm-4 col-lg-1 text-center">
                    <div class="cart_item_title ">Total</div>
                    <div class="cart_item_text">50$</div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal notify update success -->
  <div class="modal fade" id="notifyUpdate">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Notification</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div>Update information success</div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal notify change password success -->
  <div class="modal fade" id="notifyChangePwd">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Notification</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div>Password changed successfully</div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="../js/User.js " type="text/javascript "></script>
