body {
    color: #12263A;
}

#review-frame {
    padding: 20px 70px 20px 50px;
    border: 1px solid gray;
}

#sum-stars {
    font-size: 30px;
    margin-left: 60px;
}

#stars {
    margin-left: 35px;
}

#txt-count-review {
    clear: both;
    margin-left: 35px;
}

#average-right {
    margin-top: -15px;
    padding: 15px 0px;
}

.stars-percent {
    height: 30px;
    font-size: 15px;
    line-height: 30px;
}

.number-star {
    padding: 0;
    text-align: right;
}

.percent {
    padding: 0;
    text-align: center;
}

.progress {
    height: 12px;
    margin: auto;
    padding: 0;
}

.progress-bar {
    background-color: #12263A;
}

.txt-review-blue {
    font-size: 14px;
}

.media-body {
    margin-top: 10px;
}

.list-review {
    margin-top: -10px;
}

.list-review span {
    font-size: 14px;
    color: #0E80F1;
    margin-left: 8px;
}

.comment {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    border: none;
    width: 100%;
}